td.no-padding {
    margin: 0;
    padding-left: 0;
    vertical-align: top;
}
textarea {
    resize: vertical;
}
.new-from {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px !important;
}
.new-from input.regular-text {
    min-width: 6em;
    width: auto;
}
.new-from span {
    color: #777;
}